*{
	margin:0;
	padding:0;
	box-shadow: border-box;
}

body{
	margin:0;
	padding:0;
	font-family: Zilla Slab;
	/*background-color:#000;*/
	/*background-color:rgb(255, 255, 255);*/
/*	background-color:rgb(80, 182, 182);*/
	}


#video-bg-elm{
	min-width:100%;
	min-height:100%;
	margin:auto;
	position:fixed;
	z-index:-1000;
	overflow: hidden;
	}


	header{
		width:100%;
		height:80px;
		/*border:1px solid black;*/
		background-color:#ccc;
		}
	
.navbar{
	height:80px;
	/*background-color:#ffffd8;*/
	background: linear-gradient( to bottom right,#ffffff, #ffffd8);
	box-shadow:2px 2px rgba(255, 255, 232, 0.1);
	}


		.navbar .nav-container{
			width:90%;
			margin:auto;
			margin-top:20px;
		}




		.left-nav{
		/*	background-color:pink;*/
			width:50%;
			float:left;
			font-size:20px;
			transition: all 1s ease-in;
			}




			.nav-container .right-nav{
				height:50px;
				width:50%;
				float:right;
			/*	background-color:red;*/
				}


			.nav-container .right-nav ul{
				text-decoration: none;
				float:right;
			}


			.right-nav li{
				margin-top:15px;
				text-decoration: none;
				font-size: 18px;
				padding-left:20px;
				display:inline-block;
				}




.container{
	position:relative;
	padding:0;
	width:100%;
	height:800px;
	margin-bottom:20px;
	background: url("../../assets/images/cloud1.png")no-repeat;
	display:cover;
	background-color:rgb(80, 182, 182);
	overflow:hidden;
	 }



	 .item-image{
	 	position:absolute;
	 	height:800px;
	 	width:800px;
	 	left:40%;
	 	bottom:-100px;

		}

		

			.section-container{
				width:100%;
				/*border:1px solid pink;*/
				}




			.section-container .logo-container{
				/*background-color:red;*/
				margin:auto;
				width:40%;
				margin-top:150px;
				margin-bottom:50px;
				}

			
			.section-container .logo-container img{
				width:100%;
				}



			#search-bar{
			/*	background-color:red;*/
				}
			
			#search-bar #search-col{
			/*	background-color:red;*/
				}


			#search-bar #search-col #zip-search{
				width:40%;
				float:left;
				}


			#search-bar #search-col #item-search{
				width:60%;
				float:left;
				}





	#item-row{
		background-color:#f3e9d2;
	}

	#item-row #item-col{
		/*padding:20px;*/
	}

	#item-row #item-col .item-col-box{
	background-color:rgba(74, 74, 72, 0.61);
	height:300px;
	text-align: center;
	margin:20px;
	border-radius:5px;
	}




footer .footer-container{
	/*background-color:red;*/
	width:300px;
	margin:auto;
	text-align:center;
}





/*...............................................................................
...............................................................................*/
											@media screen and ( max-width:768px){



#search-bar #search-col #zip-search{
				width:50%;
				}


			#search-bar #search-col #item-search{
				width:50%;
				}





}


